@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

main {
    width: 270px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
}

.illustration {
    width: 270px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 20px;
}

p {
    margin: 0 auto 20px auto;
    font-size: 12px;
    width: 80%;
    line-height: 18px;
}

.plans {
    width: 90%;
    margin: 0 auto 20px auto;
    text-align: left;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
}

.plans p {
    width: 70px;
    margin: 0 55px 0 0;
    
}

.music-icon {
    width: 25px;
    height: 25px;
    margin: 0 auto 0 0;
}

.change {
    font-size: 13px;
    font-weight: 700;
    opacity: 1;
}

.change:hover {
    opacity: 0.5;
    cursor: pointer;
}

.cancel {
    text-decoration: none;
    font-size: 13px;
    color: hsl(223, 47%, 23%);
    display: block;
    font-weight: 900;
}

.cancel:hover {
    opacity: 0.5;
    cursor: pointer;
}

button {
    background-color: hsl(245, 75%, 52%);
    padding: 10px 55px 10px 55px;
    border-radius: 5px;
    color: white;
    border: none;
    margin-bottom: 25px;
    box-shadow: 0 5px 10px hsl(245, 75%, 52%);
}

button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width:670px) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
}